#modal{
  margin: 0 auto;
  width: 28.5rem;
  padding: 2rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  font-size: large;
  background-color: white;
  border: 1px solid orange;
  text-align: left;

}
#modal span{
  display: inline-block;
  color: orange;
}
#modal input {
  border-bottom: 1px solid orange;
  width: 18rem;
  outline: none;
  color: rgb(107, 107, 107)
}

#modal .option-font, #modal select {
  color: orange;
  font-size: medium;
  width: 18rem;
}
textarea{
  border: 1px solid orange;
}

#button-div{
  width: 8rem;
  margin: 0 auto;
}

#edit-complete-button, #cloese-button{
  background-color: orange;
  border : 1px solid gainsboro;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  height: 1.8rem;
  font-size: medium;
  margin-top: 1.3rem;
}

#modal {
  position: fixed;
  left: 10rem;
  right: 10rem;
  top: 10rem;
}

#modal textarea{
  margin-top: 5px;
}

#edit-button:active{
  color: rgb(129, 129, 129);
}

#edit-button:hover{
  color: rgb(228, 228, 228);
}
#edit-complete-button:active, #cloese-button:active{
  background-color: rgb(129, 129, 129);
}

#edit-complete-button:hover, #cloese-button:hover{
  background-color: rgb(228, 228, 228);
}